<div class="container" >
  <img src="assets/img/DcJusticeLeague4.jpg" width="750" height="350" alt="Secondary" />
  <div class="text-block">
    <a href="" type="button" class="btn btn-outline-secondary buton1">

      <!--<p class="p1">WHAT IS HOT NOW ON DC </p>-->
      <p class="p1" >WHAT IS HOT NOW ON DC  </p>
      <!--<p>click here  </p>-->
    </a>
  </div>
</div>


<div style="position: relative;
  left:1px;">
  
  <img src="assets/img/DcBatMan.jpg" width="750" height="350" />
</div>
<div style="position: absolute;
  left: 750px;
  top: 97px;">
  <img src="assets/img/DcJusticeLeague2.jpg" width="750" height="350" />
</div>
<div style="position: absolute;
  left: 750px;
  top: 447px;">
  <img src="assets/img/DcBatMan2.jpg" width="750" height="350" />
</div>
